.jumbotron{
    background-color: #bd89e7;
    color: rgb(65, 31, 31);
    text-shadow: #ffffff 2px 2px 10px;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: #ceaceb;
    margin-top: 10px;
    margin-bottom: 0px;
}

.cardPostre{
    flex: 1 150px;    /*crece(2=doble)  ancho*/
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-comprar{
    width: 100%;
    background: rgb(128, 67, 67);
}

.links a{
    color: brown;
}