.jumbotron {
  background-color: #bd89e7;
  color: #804343;
  text-shadow: #ffffff 2px 2px 10px;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: #ceaceb;
  margin-top: 10px;
  margin-bottom: 0px;
}

.cardPostre {
  flex: 1 150px;
  /*crece(2=doble)  ancho*/
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-comprar {
  width: 100%;
  background: #804343;
  /* border-radius: 0px; */
}

.footer-address-icon {
  padding-right: 10px;
}

.links a {
  color: #804343;
}

/*# sourceMappingURL=styles.css.map */
