$amarillo: #fffa19;
$verde: #2ac216;
$rojo: #c21616;
$morado_f: #bd89e7;
$morado_c: #ceaceb;
$vino:rgb(128, 67, 67);

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $morado_f;
    color: $vino;
    text-shadow: #ffffff 2px 2px 10px;
    @include margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: $morado_c;
    @include margenes(10px, 0px);
}

.cardPostre{
    flex: 1 150px;    /*crece(2=doble)  ancho*/
    @include margenes(10px, 0px);
}

.btn-comprar{
    width: 100%;
    background: $vino;
    /* border-radius: 0px; */
}

.footer-address-icon{
    padding-right: 10px;
}

.links a{
    color: $vino;
}